/* global */
body {
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    font-size: 18px;
    color: darkblue;
  }
  a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
  a:hover {
    color: blue;
    background-color: lemonchiffon;
  }
  .button {
    background-color: orange;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    border: 2px solid black;
    margin-top: 20px;
  }
  /* Header */
  #Main-header {
    margin-bottom: 20px;
    position: relative;
  }
  .Logo {
    font-size: 50px;
  }
  .navbar {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 430px;
    bottom: 70px;
    top: 10px;
  }
  .navbar li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
  }
  /* Main-section */
  #main-section {
    margin-bottom: 30px;
  }
  
  #main-section h1 {
    width: 40%;
    font-size: 80px;
    color: orange;
    text-transform: capitalize;
  }
  #main-section p {
    width: 40%;
    font-size: 18px;
  }
  #main-section img {
    position: absolute;
    top: 200px;
    right: 80px;
    width: 40%;
    animation-name: right-float;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
  @keyframes right-float {
    0% {
      right: 80px;
    }
  
    100% {
      right: 60px;
    }
  }
  /* box */
  #box {
    background-color: #202070;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  #box .box1,
  #box .box2,
  #box .box3 {
    width: 30%;
    margin-left: 30px;
  }
  /* Features */
  
  .features .feature1,
  .features .feature2,
  .features .feature3 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-top: 100px;
  }
  .features .feature1 h1,
  .features .feature2 h1,
  .features .feature3 h1 {
    font-size: 50px;
  }
  .features .feature1 img,
  .features .feature2 img,
  .features .feature3 img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
  @keyframes float {
    0% {
      position: relative;
      left: 0px;
    }
    100% {
      position: relative;
      left: 10px;
    }
  }
  small {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 30%;
  }
  .call-to-action {
    text-decoration: underline;
    color: rgb(37, 235, 225);
  }
  /* finish section */
  .finish-section {
    background-color: darkblue;
    min-height: 220px;
    color: white;
    padding: 40px 20px 40px 20px;
    display: flex;
    margin: 40px 0;
    justify-content: space-evenly;
  }
  .finish-section h1 {
    font-size: 40px;
  }
  .finish-section p {
    font-size: 20px;
  }
  .finish-section button {
    position: relative;
    top: 70px;
  }
  /* footer */
  .arrangement {
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
  }
  .footer-navbar li {
    list-style: none;
    text-transform: capitalize;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    .container {
      width: 90%;
      font-size: 16px;
      margin: auto;
    }
    .navbar {
      position: unset;
    }
    .navbar li {
      margin: 0 10px 0 0;
    }
    #main-section h1,
    #main-section p {
      width: 100%;
    }
    #main-section img {
      position: unset;
      width: 100%;
      height: 300px;
      margin: 30px 0;
    }
    #box {
      display: block;
    }
    #box .box1,
    #box .box2,
    #box .box3 {
      width: 100%;
      margin: auto;
      padding: 20px;
    }
    .finish-section {
      display: block;
    }
    .finish-section button {
      position: unset;
    }
    .arrangement {
      display: block;
      text-align: center;
    }
  }
  
  @media all and (max-width: 1000px) {
    .features .feature1,
    .features .feature2,
    .features .feature3 {
      display: unset;
    }
    .features .feature1 img,
    .features .feature2 img,
    .features .feature3 img {
      padding: 20px;
      width: 100%;
      height: 300px;
    }
    .features .feature2 {
      display: flex;
      flex-direction: column-reverse;
    }
  }